[user]
	name = Omer Anson
	email = omer.anson@toganetworks.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	rb = rebase
	lo = log --oneline --decorate
	glo = log --oneline --decorate --graph
[sendemail]
	smtpserver = smtp.redhat.com
[color]
        ui = auto
[core]
        editor = vim

[push]
	default = simple
